<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" 
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
        
    <link href="css/site.css" rel="stylesheet">

    <title> MissionConnect - @ViewData["Title"]</title>
        
</head>

<body>

    <nav class="navbar navbar-expand-lg sticky-top navbar-dark">
        <a class="navbar-brand display-4" href="index"> MissionConnect</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <!--<span class="navbar-toggler-icon"></span>-->
            <!--<span class="oi oi-menu" title="menu icon" aria-hidden="true"></span>-->
                <i class="material-icons">menu</i>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <!--<li class="nav-item active">
        <a class="nav-link" href="index">Home <span class="sr-only"></span></a>
      </li>-->
                <li class="nav-item mx-md-2 mx-1  ">
                    <a class="nav-link " href="connections">  <i class="material-icons align-middle">contacts</i> Connections</a>
                </li> 
                <li class="nav-item mx-md-4 mx-1 ">
                    <a class="nav-link " href="teams"> <i class="material-icons align-middle">people</i> <!--<span class="oi oi-people"></span>--> Teams</a>
                </li>

            </ul>
            <form class="form-inline my-2 my-lg-0 searchBar" method="get" action="search">
                <input type="text" class="form-control searchBar mx-md-4 mx-1" placeholder="Search" aria-describedby="basic-addon2">
                <span class="input-group-addon" id="basic-addon2"></span>
                <!--      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">-->
                <!--      <button class="btn searchButton my-2 my-sm-0" type="submit">Search</button>-->
            </form>

            <ul class="navbar-nav mx-1">
                <li class="nav-item mx-1">
                     <a class="nav-link" href="#"> <i class="material-icons">chat_bubble</i>  <!-- <i class="material-icons">chat</i> --> </a>
                </li>
                    
                <li class="nav-item mx-1">

                    <a class="nav-link" href="profile">
                        <!--<i class="material-icons">person</i>  -->
                        <i class="material-icons align-middle">account_circle</i>
                        <!--<img class="profileImage" src="images/ProfilePlaceholderImage.png" alt="Profile"> -->
                    </a>
                </li>
            </ul>
        </div>
    </nav>


    <main class="">
        @RenderBody()
    </main>

    <hr />
    <footer class="container-fluid">
        <p>&copy; 2018 - MissionConnect</p>

        <p>
            <a href="mailto:kcasey@fhu.edu"> Contact Us</a>
        </p>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="js/site.js"></script>
        

    @RenderSection("Scripts", required: false)

    </body>

</html>
