@page
@model IndexModel
@{
    ViewData["Title"] = "MissionConnect - Discover Mission Connections";
}

<div class="jumbotron" >
    <div class="row" >
        <div class="col-md-6">
            <h1 class="" id="app-name"> MissionConnect </h1>
            <h2 class="text-muted lead" id="tag-line"> Discover and Connect to Missions </h2>

            <hr class="my-4" />
            
            <h3 class=""> What is MissionConnect? </h3>
            <p class="lead" >
                Simply put, <b>MissionConnect</b> is a place for those involved in global mission to connect. 
            </p>
        </div>

        <div class="col-md-6">
            <img src="~/images/hands-up.jpg" class="img-fluid" /> 
        </div>
    </div>
</div>


<div class="container" >
    <section class="home-section"> 
        <h3 class=""> What does MissionConnect do? </h3>

            <ol class="lead">
            <li> Help you find others souls who are interested in forming mission teams </li>
            <li> Inform you about missionaries worldwide </li>
            <li> Encourage unity among the kingdom of God </li>
            </ol>

    </section>
</div>

<div id="map"></div>

<div class="container" >
<section class="home-section">
<div class="container" > 
        <section class="home-section">
            <h3 class=""> Why should I use MissionConnect?</h3>
            <h4 class="lead"> Current Missionary </h4>
            <p>MissionConnect can help you with recruiting interns and future team members, informing others of the location and nature of your work, and allow you access to view others involved in His mission globally. </p>
                <!--<a class="btn btn-primary btn-lg" href="#" role="button">Current Missionary</a>
                <a class="btn btn-secondary btn-lg" href="#" role="button">Future Missionary</a>
                <a class="btn btn-info btn-lg" href="#" role="button"> Mission Supporter</a> -->
            
        </section>
    </div>

</section>
</div>


<div class="accent-background">
    <section class="home-section">
        <div class="container" >
            <h3> Features </h3>
        </div>

        
        
    </section>
</div>


<div class="container">
<section class="home-section">

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">Sign Up!</button>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>

                </button>
            </div>
            <div class="modal-body">
                <div role="tabpanel">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="nav-item nav-link active tabStyles tab"><a href="#uploadTab" aria-controls="uploadTab" role="tab" data-toggle="tab" class="tabText">Log In</a>

                        </li>
                        <li role="presentation" class="nav-item nav-link tabStyles"><a href="#browseTab" aria-controls="browseTab" role="tab" data-toggle="tab">Sign Up</a>

                        </li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="uploadTab">
                        <div class="row" id="logIn">
                            <div class="col">
                                <div class="form-group">
    <label for="exampleFormControlInput1">Email address</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
  </div>
                                     <div class="form-group">
    <label for="exampleFormControlInput1">Password</label>
    <input type="password" class="form-control" id="exampleFormControlInput1" placeholder="Password">
  </div>
                            </div>
                        </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="browseTab">
                        <div class="row" id="signUp">
                            <div class="col">
                                <form>
  <div class="form-group">
    <label for="exampleFormControlInput1">First Name</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="John">
  </div>
                                     <div class="form-group">
    <label for="exampleFormControlInput1">Last Name</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Doe">
  </div>
                                     <div class="form-group">
    <label for="exampleFormControlInput1">Email address</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
  </div>
                                     <div class="form-group">
    <label for="exampleFormControlInput1">Password</label>
    <input type="password" class="form-control" id="exampleFormControlInput1" placeholder="Password">
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect1">Example select</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option>Mission Supporter</option>

      <option>On The Field</option>
      <option>Pre-Missionary</option>
    </select>
  </div>


  </form>
                                </div>
                                        </div>
                                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary save">Save changes</button>
            </div>
        </div>
    </div>
</div>

</section>

</div>

@section Scripts {
    <script type="text/javascript" src="/js/discover.js"></script>

    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAjIxkvWvevwkxGuiNGChQwRu21_nIxMas">
    </script>

    <script src="/js/jquery.fittext.js"></script>
    <script >

    $(document).ready(function () {

        $("#app-name").fitText();
        $("#tag-line").fitText(1.8);
    });
    
    </script>
}