@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@page
@{
    ViewData["Title"] = "MissionConnect - Sign Up";

}
<div class="container" >


<div class="row">
    <div class="col-md-8 offset-md-2 col">
        <div class="row my-3">
    <div class="col align-middle">
        <h1>Sign Up!</h1>

    </div>
            </div>
            <div class="row">
                <div class="col">
                    <h3 class="signUpMoreInfo"> We will just need a little more info from you before we can get you up and running on Mission Connect! Please fill out all the information below</h3>
                </div>
            </div>

        <form>
  <div class="form-group">
    <label for="exampleFormControlInput1">Where Are You From? </label>
    <input type="text" class="form-control" placeholder="Hendernson, TN">
  </div>
                                     <div class="form-group">
    <label for="exampleFormControlInput1">Home Congregation</label>
    <input type="text" class="form-control" placeholder="Hendernson Church of Christ">
  </div>
                                     <div class="form-group">
    <label for="exampleFormControlTextarea1">Languages You Speek</label>
    <textarea class="form-control" rows="3"></textarea>
  </div>
                                     <div class="form-group">
    <label for="exampleFormControlInput1">University You Attended</label>
    <input type="password" class="form-control" placeholder="Lipscomb University">
  </div>
                <div class="form-group">
    <label for="exampleFormControlTextarea1">Locations of Interest</label>
    <textarea class="form-control" rows="3"></textarea>
  </div>
    
  <div class="form-group">
    <label for="exampleFormControlSelect1">Durration Anticipated</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option>Short Term</option>

      <option>Long Term</option>
    </select>
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Mission Bio</label>
    <textarea class="form-control" rows="3"></textarea>
  </div>

  </form>    
            <button type="button" class="btn btn-primary finalSignUp">Sign Up!</button>

    </div>
</div>
        </div>    





