@page 
@model TeamsModel 
@{ }

<div class="container-fluid">
    <div class="row mt-5">
        <div class="col-md">
            <h2> Suggested Teams </h2>
        </div>
    </div>

    <div class="row ">
        <div class="col-md my-2">
             <div class="card" >
                <div class="card-body">
                    <h5 class="card-title"> Brazil </h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="team" class="btn btn-block btn-primary"> See Updates</a>
                    <a href="#" class="btn btn-block btn-outline-secondary"> Follow Team</a>
                </div> 
            </div> 
        </div>

        <div class="col-md my-2">
            <div class="card" >
                <div class="card-body">
                    <h5 class="card-title">Philippines </h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="team" class="btn btn-block btn-primary"> See Updates</a>
                    <a href="#" class="btn btn-block btn-outline-secondary"> Follow Team</a>
                </div>
            </div>
        </div>

        <div class="col-md my-2">
            <div class="card" >
                <div class="card-body">
                    <h5 class="card-title">Kiev, Ukraine</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="team" class="btn btn-block btn-primary"> See Updates</a>
                    <a href="#" class="btn btn-block btn-outline-secondary"> Follow Team</a>
                </div>
            </div>
        </div>

        <div class="col-md my-2">
            <div class="card" >
                <div class="card-body">
                    <h5 class="card-title">Latin America</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="team" class="btn btn-block btn-primary"> See Updates</a>
                    <a href="#" class="btn btn-block btn-outline-secondary"> Follow Team</a>
                </div>
            </div>
        </div>
        
    </div>

    <div class="row mt-5">
        <div class="col-md">
            <h2> Featured Teams </h2>
        </div>
    </div>
    <div class="row" > 
    <div class="col-md my-2">
            <div class="card" >
                <div class="card-body">
                    <h5 class="card-title"> Vietnam </h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary"> See Updates</a>
                </div>
            </div>
        </div>

        <div class="col-md my-2">
            <div class="card" >
                <div class="card-body">
                    <h5 class="card-title"> Uruguay </h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">See Updates</a>
                </div>
            </div>
        </div>
    </div>
</div>