@page
@model TeamModel
@{
}

<div class="container-fluid" >
<!--    Map Header with Text -->    
    <div class="row">
    <div class="teamMapContainer col"> 
            <div class="title-container">
                         <h1 class="text-center teamName"> Costa Rica </h1>

            </div>
        <div id="teamMap">
    </div>
           
        </div>
        </div>
    
    <div class="row">
<!--updates section--> 
        <div class="col-md-8 col-sm-12 ">
            <!--Card-->
                <h2 class="sectionHeadings ml-1"> Updates </h2>
             <div class="card mb-3">
  <div class="card-header">
                    <div class="row">
                    <div class="col-lg-2 col-md-3 col-sm-2 col-4">
                    <img src="../images/Profile Pictures/1.JPG" class="rounded-circle profileImageThumbnail">
                    </div>
                    <div class="col-lg-10 col-md-9 col-sm-10 col-8 teamCardHeading">
                            <div class="row">
                                <div class="col">
                                     <h2> Jim Brown</h2>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                     <h4 class="postedTimestamp"> Posted March 12, 2018</h4>
                                </div>
                            </div>
                       
                    </div>
                </div>
                    </div>
  <div class="card-body text-secondary">
    <p class="card-text"> Costa Rica in T-Minus 90 Days!!! </p>
  </div>
</div>
            <div class="card mb-3">
  <div class="card-header">
                    <div class="row">
                    <div class="col-lg-2 col-md-3 col-sm-2 col-4">
                    <img src="../images/Profile Pictures/1.JPG" class="rounded-circle profileImageThumbnail">
                    </div>
                    <div class="col-lg-10 col-md-9 col-sm-10 col-8 teamCardHeading">
                            <div class="row">
                                <div class="col">
                                     <h2> Jim Brown</h2>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                     <h4 class="postedTimestamp"> Posted March 10, 2018</h4>
                                </div>
                            </div>
                       
                    </div>
                </div>
                    </div>
  <div class="card-body text-secondary">
    <p class="card-text"> Just spoke with the church in Costa Rica and they are excited to have us come down!  </p>
  </div>
</div>
            <div class="card mb-3">
  <div class="card-header">
                    <div class="row">
                    <div class="col-lg-2 col-md-3 col-sm-2 col-4">
                    <img src="../images/Profile Pictures/1.JPG" class="rounded-circle profileImageThumbnail">
                    </div>
                    <div class="col-lg-10 col-md-9 col-sm-10 col-8 teamCardHeading">
                            <div class="row">
                                <div class="col">
                                     <h2> Jim Brown</h2>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                     <h4 class="postedTimestamp"> Posted March 2, 2018</h4>
                                </div>
                            </div>
                       
                    </div>
                </div>
                    </div>
  <div class="card-body text-secondary">
    <p class="card-text"> Hey Everyone! Be sure to invite anyone you think would be helpful to our team this trip is gong to be LIT!  </p>
  </div>
</div>
            <div class="card mb-3">
  <div class="card-header">
                    <div class="row">
                    <div class="col-lg-2 col-md-3 col-sm-2 col-4">
                    <img src="../images/Profile Pictures/1.JPG" class="rounded-circle profileImageThumbnail">
                    </div>
                    <div class="col-lg-10 col-md-9 col-sm-10 col-8 teamCardHeading">
                            <div class="row">
                                <div class="col">
                                     <h2> Jim Brown</h2>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                     <h4 class="postedTimestamp"> Posted March 1, 2018</h4>
                                </div>
                            </div>
                       
                    </div>
                </div>
                    </div>
  <div class="card-body text-secondary">
    <p class="card-text"> Jim Brown started a new team heading to Costa Rica </p>
  </div>
</div>
        </div>

<!--team member listing section-->
            <div class="col-md-4 ">
            <h2 class="sectionHeadings">
                Members
            </h2>
            <div class="col-md-12">
            <div class="row teamMemberListing">
                <div class="col-xl-3 col-lg-4 col-sm-2 col-md-5 col-4">
                    <img src="../images/Profile Pictures/1.JPG" class="rounded-circle profileImageThumbnail">
                </div>
                <div class="col-xl-9 col-lg-8 col-sm-10 col-md-7 col-8">
                    <div class="row">
                        <div class="col">
                            <h4> Jim Brown </h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col"> 
                            <p> Last Online 47min ago</p>
                            </div>
                        </div>
                </div>
                </div>
                <div class="row teamMemberListing">
                <div class="col-xl-3 col-lg-4 col-sm-2 col-md-5 col-4">
                    <img src="../images/Profile Pictures/4.JPG" class="rounded-circle profileImageThumbnail">
                </div>
                <div class="col-xl-9 col-lg-8 col-sm-10 col-md-7 col-8">
                    <div class="row">
                        <div class="col">
                            <h4> Ken Toliver </h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col"> 
                            <p> Last Online 47min ago</p>
                            </div>
                        </div>
                </div>
                </div><div class="row teamMemberListing">
                <div class="col-xl-3 col-lg-4 col-sm-2 col-md-5 col-4">
                    <img src="../images/Profile Pictures/2.JPG" class="rounded-circle profileImageThumbnail">
                </div>
                <div class="col-xl-9 col-lg-8 col-sm-10 col-md-7 col-8">
                    <div class="row">
                        <div class="col">
                            <h4> Jack Daniel </h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col"> 
                            <p> Last Online 47min ago</p>
                            </div>
                        </div>
                </div>
                </div><div class="row teamMemberListing">
                <div class="col-xl-3 col-lg-4 col-sm-2 col-md-5 col-4">
                    <img src="../images/Profile Pictures/3.JPG" class="rounded-circle profileImageThumbnail">
                </div>
                <div class="col-xl-9 col-lg-8 col-sm-10 col-md-7 col-8">
                    <div class="row">
                        <div class="col">
                            <h4> Jeff Jackson </h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col"> 
                            <p> Last Online 47min ago</p>
                            </div>
                        </div>
                </div>
                </div>
            
        </div>
                </div>
   </row>
    </div>
    </div>
    


<script>
      function initMap() {
        var fhu = {lat: 35.4384669, lng: -88.6383586};
        var map = new google.maps.Map(document.getElementById('teamMap'), {
          zoom: 9,
          center: fhu
        });
        var marker = new google.maps.Marker({
          position: fhu,
          map: map
        });
      }
</script>

<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAjIxkvWvevwkxGuiNGChQwRu21_nIxMas&callback=initMap">
</script>