
/***   GLOBAL   ***/


.navbar {
    background-color: #154890;
    padding: 0px
}

.navbar-nav a {
    color: #E1D4C0;
    text-transform: uppercase
}

.navbar-brand {
    color: white;
    background-color: #FF6600;
    padding-top: .7rem;
    padding-bottom: .7rem;
    padding-left: 1rem;
    padding-right: 1rem
}

.searchButton {
    color: #E1D4C0
}

.navbar button {
    border: none
}

.navbar-toggler-icon {
    color: white
}

main {
    margin-top: 30px
    font-family: 'Oswald', sans-seri
}

.accent-background, .jumbotron {
    background: rgba(21,72,144, 0.15);
}

/***   HOME   ***/
.home-section {
    padding: 2rem 0px;
    min-height: 300px
}


#map {
    height: 450px;
    width: 100%
}

#myModal .tabStyles {
    width: 50%;
    text-align: center;
}
.tab{
    width: 100%;
    text-align: center;
}
.tabText{
    color:black;
}
/***   CONNECTIONS   ***/
.connections .bounce {
    animation: bounceIn 2s
}

.connections .material-icons {
    font-size: 1em
}

@keyframes bounceIn {
    0% {
        transform: scale(0.1);
        opacity: 0
    }

    60% {
        transform: scale(1.2);
        opacity: 1
    }

    100% {
        transform: scale(1)
    }
}





/***   TEAMS   ***/
.teamsHeader {
    background-color: #154890;
    color: white;
    padding: 1.7rem
}

    .teamsHeader > h2 {
        font-size: 2.5rem
    }


/***   MY TEAMS   ***/
.cardPadding {
    padding-bottom: 1rem
}
#cardMap1, #cardMap2, #cardMap3{
    height: 15rem;
}
.cardImageHeight{
    height: 15rem;
}
.myTeamsHeader{
    padding-top:1rem;
    padding-bottom: 1rem;
}
/***   TEAM   ***/
.teamTitle {
    background-color: #E1D4C0;
    color: #343F4B;
    text-align: center;
    padding: 2rem;
    margin: 0;
    height: 200px;
    width: 100%
}

    .teamTitle > h2 {
        font-size: 4rem;
        font-weight: 300;
        text-transform: uppercase
    }

.teamMemberListing {
    background-color: #E1D4C0;
    padding: .5rem;
    border: solid 1px #CDBFAC
}

.teamMapContainer {
    height: 300px;
    width: 100%;
    position: relative;
    overflow: hidden
}

#teamMap {
    position: static !important;
    opacity: 0.7
}

.profileImageThumbnail {
    height: 5rem;
    width: 5rem
}

.teamMembers {
    padding: 1rem
}

.teamMapContainer h1 {
    position: relative;
    z-index: 4;
    font-size: 6rem;
    margin-top: 5rem;
    color: #154890;
    margin-bottom: 7rem;
}

.updateImage {
    display: inline
}

.teamCardHeading {
    padding-top: 1rem
}

.postedTimestamp{
    font-weight: 100;
    font-size: 1.2rem;
}

.sectionHeadings{
    font-size:2rem;
    margin-top: 1rem;
}

.teamName {
    position: relative;
    display: block;
    margin: 0;
    font-size: 4rem;
    line-height: 1;
    transform: translateY(6rem);
    animation: up 500ms linear forwards;
    z-index: 1;
    text-shadow: 0px 1px 1px rgba(255,255,255,1);
    &::before, &::after{
    position: absolute;
    content: '';
    width: 0px;
    height: 1px;
    left: 0;
    z-index: -1;
}
&::before {
    top: 1.4rem;
    animation: draw 500ms linear 1s forwards;
}

&::after {
    bottom: 0.4rem;
    animation: draw 500ms linear 1s forwards;
}

}

.title-container {
    font-size: 0;
    position: relative;
    overflow: hidden;
    padding-bottom: 0.4rem
}

@keyframes up {

    100% {
        transform: translateY(0)
    }
}

@keyframes draw {

    100% {
        width: 100%
    }
}
}
/***   PROFILE   ***/
.profile-background {
    background-color: #eee
}
#ProfilePicture{
    
    margin-top: 60px;
    margin-bottom: 20px;
}
#LeftColumn {
    margin-top: 20px;
}

.material-icons {
    vertical-align:center;
}

/* Sign Up Page */
.signUpMoreInfo{
    font-size: 1rem;
    font-weight: 300;
}
.finalSignUp{
    width: 100%
}
/*** Media Queries ***/
/* Extra Small devices (everything smaller then a lanscape phone)*/
@media (max-width: 543px) {
    .teamMapContainer {
        height: 200px
    }
    .teamMapContainer h1{
        font-size: 4rem;
    }
    .postedTimestamp{
        font-size: 1rem;
    }
    #my-connections {
        margin-top: 40px
    }
    .hide {
        display:none;
    }
}

/* Small devices (landscape phones, 544px and up) */
@media (min-width: 544px) and (max-width: 767px){
    .hide {
        display: none
    }
    .connections h4 {
        padding-top: 40px
    }
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (max-width: 992px) and (min-width: 768px) {
    .teamMemberListing h4{
        font-size: 1rem;
    }
    .teamMemberListing p{
        font-size: .8rem;
    }
    #my-connections {
        margin-top: 40px;
    }
    .hide {
        display: none
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

